@font-face {
  font-family: "HelveticaNeueCyr-Black";
  src: url("../fonts/HelveticaNeueCyr-Black.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Roman";
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"),
    url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}